<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computador</title>
</head>
<body>
    <h2>Página Computador</h2>

    <p>O computador é um conjunto de componentes eletrônicos capaz de executar variados tipos de algoritmos e tratamento de informações.</p>

</body>
</html>