<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microfone</title>
</head>
<body>
    <h2>Página Microfone</h2>

    <p>O microfone é um transdutor que converte o som em sinais elétricos. Microfones são usados em muitas aplicações como telefones, gravadores, aparelhos auditivos, shows e na transmissão de rádio e televisão</p>
</body>
</html>